html {
  min-width: 320px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  display: flex;
  background: #f1f3f7;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
body.ltr {
  direction: ltr;
}
body.rtl {
  direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #444444;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 28px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

strong {
  font-weight: 500;
}

#nprogress .bar {
  z-index: 1150;
}

/* box */
.box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 1px rgba(140, 140, 140, 0.15);
}

@media screen and (max-width: 992px) {
  .blog-post-form .box:last-child {
    margin-bottom: 0;
  }
}
.report-result .box-header {
  border-bottom: unset;
}

.filter-report .box-header,
.filter-report .box-body,
.report-result .box-body {
  padding: 0;
}

.filter-report .box-header {
  padding-bottom: 10px;
}

.report-wrapper .row > div:first-child {
  padding-right: 10px;
}
.report-wrapper .row > div:last-child {
  padding-left: 10px;
}

@media screen and (max-width: 991px) {
  .report-wrapper .row {
    display: flex;
    flex-direction: column;
  }
  .report-wrapper .row > div:first-child {
    padding-right: 15px;
    order: 1;
  }
  .report-wrapper .row > div:last-child {
    order: 0;
    padding-left: 15px;
    margin-bottom: 20px;
  }
}
.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #e2e8f0;
}
.box-header .drag-handle {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: -4px;
  padding: 0 5px;
  color: #4d4d4d;
  cursor: move;
}
.box-header .drag-handle i {
  line-height: 8px;
  height: 6px;
}
.box-header .drag-handle i:last-child {
  margin-top: -1px;
}

.box-body {
  padding: 20px;
}
.box-body > .table-responsive {
  margin-bottom: 0;
}

.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
}

.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #737881;
  font-size: 30px;
}

.box-footer {
  border-radius: 0;
}
.box-footer .btn-back {
  display: inline-block;
  padding: 7px 12px;
}

/* wrapper */
.wrapper {
  position: relative;
  width: 100%;
  flex-grow: 1;
  background: #f1f1f1;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 150ms ease-in-out;
}

/* header */
.main-header {
  position: relative;
  height: 56px;
  width: 250px;
  display: flex;
  align-items: center;
  background: #222530;
  transition: 150ms ease-in-out;
  z-index: 1050;
}
.main-header .logo {
  display: flex;
  height: 52px;
  width: 100%;
  min-width: 250px;
  padding: 5px 15px;
  overflow: hidden;
  transition: width 150ms ease-in-out;
}
.main-header .logo .logo-mini {
  display: none;
}
.main-header .logo img {
  height: 100%;
  max-width: 100%;
}
.main-header .sidebar-toggle {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  background: #222530;
  padding: 5px;
  outline: 0;
  width: 25px;
  height: 25px;
  transition: 150ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #fff;
}
.main-header .sidebar-toggle svg:first-child {
  width: 13px;
  height: 14px;
  transition: 0.2s ease-in-out;
}
.main-header .sidebar-toggle svg:first-child path {
  stroke: #fff;
}
.main-header .sidebar-toggle svg:last-child {
  display: none;
}

.ltr.sidebar-collapse .main-header .sidebar-toggle svg:first-child {
  transform: rotate(180deg);
}

.rtl .main-header .sidebar-toggle svg:first-child {
  transform: rotate(180deg);
  transition: 0.2s;
}

.rtl.sidebar-collapse .main-header .sidebar-toggle svg:first-child {
  transform: rotate(0deg);
}

.modal-backdrop.fade {
  opacity: 0 !important;
}

.sidebar-logo-mini {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 36px;
  width: 36px;
  display: none;
  text-align: center;
  transform: translate(-50%, -50%);
}
.sidebar-logo-mini img {
  height: 100%;
  max-width: 100%;
}

.sidebar-collapse .sidebar-logo-mini {
  display: block;
}

/* content wrapper */
.content-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 57px;
  background: #f1f1f1;
  transition: 0.3s ease-in-out;
}

.content-header {
  position: relative;
  padding: 20px 20px 0;
  background: transparent;
}
.content-header > h3 {
  display: inline-block;
}
.content-header > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  border-radius: 2px;
}
.content-header > .breadcrumb > li > a {
  color: #444444;
  text-decoration: none;
  display: inline-block;
}
.content-header > .breadcrumb > li > a > .fa {
  margin-right: 5px;
  color: #737881;
}
.content-header > .breadcrumb > li .breadcrumb-home-icon {
  display: flex;
  align-items: center;
  transform: translateY(2px);
}
.content-header > .breadcrumb > li .breadcrumb-home-icon svg {
  width: 15px;
  height: 15px;
}
.content-header > .breadcrumb > li + li {
  position: relative;
  padding-left: 26px;
}
.content-header > .breadcrumb > li + li:before {
  content: "";
  display: block;
  background-image: url("../images/arrow_right_icon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
}

.content {
  min-height: 250px;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
}
.content > form {
  overflow: visible;
}

/* sidebar */
.main-sidebar {
  position: relative;
  display: inline-block;
  flex-grow: 0;
  padding: 0;
  width: 250px;
  background: #222530;
  transition: 150ms ease-in-out;
  z-index: 15;
}

.sidebar a {
  color: #b8c7ce;
}
.sidebar a:hover {
  text-decoration: none;
}

.ltr.sidebar-collapse .sidebar-menu > li.active > a {
  border: unset;
  position: relative;
}
.ltr.sidebar-collapse .sidebar-menu > li.active > a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 20px;
  background: #475aff;
  border-radius: 3px;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}
.sidebar-menu:hover {
  overflow: visible;
}
.sidebar-menu > li {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.sidebar-menu > li.header {
  font-size: 13px;
  color: #7c97a4;
  padding: 22px 25px 8px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.sidebar-menu > li > a {
  position: relative;
  font-size: 13px;
  display: block;
  padding: 14px 15px;
  background: #222530;
  text-decoration: none;
  outline: 0;
  transition: 150ms ease-in-out;
}
.sidebar-menu > li > a span .fa {
  font-size: 16px;
  font-weight: 500;
}
.sidebar-menu > li > a > .pull-right-container {
  position: absolute;
  right: 2px;
  left: 95px !important;
  margin-top: -9px;
  padding: 14px 15px 14px !important;
}
.sidebar-menu > li > a > .fa-angle-left,
.sidebar-menu > li > a > .pull-right-container > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  margin-top: -2px;
  transition: 150ms ease-in-out;
  transform: rotate(-180deg) /*rtl:rotate(0deg)*/;
}
.sidebar-menu > li > a > .fa-angle-left {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -8px;
}
.sidebar-menu > li > a > .fa {
  line-height: 19px;
  width: 20px;
}
.sidebar-menu > li.active > a {
  color: rgb(183.4340101523, 199.3375634518, 206.0659898477);
  background: rgb(42.4585365854, 46.2048780488, 59.9414634146);
  border-left-color: transparent;
  font-weight: 600;
}
.sidebar-menu > li.active > .treeview-menu {
  display: block;
}
.sidebar-menu > li.selected > a,
.sidebar-menu > li > a:hover {
  background: rgb(42.4585365854, 46.2048780488, 59.9414634146);
}
.sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  padding-left: 0;
  background: transparent;
}

.ltr .sidebar-menu > li.selected > a > .pull-right-container > i {
  transform: rotate(-90deg);
}
.ltr .sidebar-menu > li.active > a > .pull-right-container > i {
  transform: rotate(-90deg);
}
.ltr .sidebar-menu > li.active.closed > a > .pull-right-container > i {
  transform: rotate(-180deg);
}

.rtl .sidebar-menu > li.selected > a > .pull-right-container > i {
  transform: rotate(-90deg);
}
.rtl .sidebar-menu > li.active > a > .pull-right-container > i {
  transform: rotate(-90deg);
}
.rtl .sidebar-menu > li.active.closed > a > .pull-right-container > i {
  transform: rotate(0deg);
}

.left-side {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 250px;
  background: #222530;
  padding: 0;
}

/* sidebar collapse */
.sidebar-collapse .sidebar-menu li.active.closed > a > .pull-right-container > i {
  transform: rotate(-90deg);
}

/* sidebar mini */
.ltr.sidebar-mini.sidebar-collapse .main-header {
  width: 55px;
  height: 56px;
}
.ltr.sidebar-mini.sidebar-collapse .content-wrapper {
  margin-left: 0;
}
.ltr.sidebar-mini.sidebar-collapse .main-footer {
  left: 55px;
}
.ltr.sidebar-mini.sidebar-collapse .left-side {
  width: 50px;
}
.ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
  padding: 0;
  margin-top: -2px;
}
.ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
  text-align: center;
}
.ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
  border-top-right-radius: 3px;
}
.ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
  padding: 15px 15px 14px;
}
.ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li.active > a > span {
  margin-left: 0;
}

.rtl.sidebar-mini.sidebar-collapse .main-header {
  width: 55px;
  height: 56px;
}
.rtl.sidebar-mini.sidebar-collapse .content-wrapper {
  margin-right: 0;
}
.rtl.sidebar-mini.sidebar-collapse .main-footer {
  right: 55px;
}
.rtl.sidebar-mini.sidebar-collapse .left-side {
  width: 50px;
}
.rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
  padding: 0;
  margin-top: -2px;
}
.rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
  text-align: center;
}
.rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
  border-top-left-radius: 3px;
}
.rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
  padding: 15px 15px 14px;
}

/* treeview menu */
.treeview-menu {
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
}
.treeview-menu a span i {
  transition: 150ms;
  transform: rotate(-180deg);
}
.treeview-menu > li {
  margin: 0;
}
.treeview-menu > li > a {
  font-size: 13px;
  display: block;
  color: #8aa4af;
  background: rgb(25.5414634146, 27.7951219512, 36.0585365854);
  padding: 12px 15px 12px 40px;
  text-decoration: none;
  transition: 150ms ease-in-out;
  position: relative;
}
.treeview-menu > li > a::after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background: rgb(44.2639593909, 58.6497461929, 64.7360406091);
  position: absolute;
  left: 20px;
  top: 0;
}
.treeview-menu > li > a > .fa {
  display: none;
}
.treeview-menu > li > a > .pull-right-container > .fa-angle-left,
.treeview-menu > li > a > .pull-right-container > .fa-angle-down {
  width: auto;
}
.treeview-menu > li > a > .fa-angle-left,
.treeview-menu > li > a > .fa-angle-down {
  width: auto;
}
.treeview-menu > li:last-child a::after, .treeview-menu > li:first-child a::after {
  height: calc(100% - 7px);
}
.treeview-menu > li:first-child a::after {
  bottom: 0;
  top: unset;
}
.treeview-menu > li:only-child a::after {
  height: calc(100% - 14px);
  bottom: 7px;
}
.treeview-menu > li.active a span {
  display: block;
  background: #2a2e3c;
  padding: 9px 12px;
  border-radius: 8px;
}
.treeview-menu > li.active a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.treeview-menu > li.active a::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #475aff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  z-index: 10;
}
.treeview-menu > li:last-child > a {
  border-bottom-right-radius: 3px;
}
.treeview-menu > li.active > a,
.treeview-menu > li > a:hover {
  color: rgb(183.4340101523, 199.3375634518, 206.0659898477);
  font-weight: 600;
}
.treeview-menu .treeview-menu {
  padding-left: 20px;
}
.treeview-menu .treeview-menu > li > a {
  padding: 10px 20px 10px 50px;
  background: #1c212a;
}
.treeview-menu .treeview-menu > li > a:hover {
  background: #2d323d;
}

/* footer */
.main-footer {
  position: absolute;
  left: 250px;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 16px 20px;
  color: #444444;
  box-shadow: 0px 0px 0px 1px rgba(140, 140, 140, 0.15);
  transition: 150ms ease-in-out;
}
.main-footer .keyboard-shortcuts {
  display: inline-flex;
}
.main-footer .keyboard-shortcuts:hover svg {
  fill: #0068e1;
}
.main-footer .keyboard-shortcuts svg {
  height: 18px;
  width: 18px;
  margin-bottom: -2px;
  fill: #6a6a6a;
  transition: 150ms ease-in-out;
}
.main-footer .version-control {
  display: flex;
  align-items: center;
}
.main-footer .version-control svg {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.main-footer .version-control svg path {
  fill: rgb(106.25, 106.25, 106.25);
}
.main-footer .version-control span strong {
  color: rgb(93.5, 93.5, 93.5);
}

/* navbar */
.navbar {
  background: #ffffff;
  box-shadow: 0px 0px 0px 1px rgba(140, 140, 140, 0.15);
  z-index: 2;
  border: none;
  margin: 0;
  min-height: auto;
  display: flex;
}
.navbar .navbar-nav {
  width: 100%;
  padding: 0 20px;
}

.navbar-nav .fullscreen-mode {
  float: right;
}
.navbar-nav .fullscreen-mode a {
  width: 35px;
  min-width: 35px;
  height: 35px;
  border: 1px solid #d9d9d9;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}
.navbar-nav .fullscreen-mode a:hover {
  background: transparent;
  border-color: #0068e1;
}
.navbar-nav .fullscreen-mode a svg {
  display: none;
}
.navbar-nav .fullscreen-mode a svg path {
  fill: #444444;
}
.navbar-nav .fullscreen-mode a svg.enter-full-screen {
  display: block;
}
.navbar-nav .fullscreen-mode a svg.exit-full-screen {
  display: block;
}
.navbar-nav > li > a {
  padding: 11px 12px;
  transition: 150ms ease-in-out;
}
.navbar-nav > li > a:hover {
  background: #f1f1f1;
}
.navbar-nav .dropdown > .dropdown-menu {
  border: none;
  top: 45px;
  width: 275px;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
  transition: 0.2s ease-in-out;
}
.navbar-nav .dropdown > .dropdown-menu > li > a {
  display: block;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent !important;
}
.navbar-nav .user > .dropdown-menu > li > a {
  display: flex;
  align-items: center;
}
.navbar-nav .language > .dropdown-menu {
  width: 190px;
  height: auto;
  max-height: 342px;
  overflow-y: auto;
}

/* visit store */
.navbar-nav > li.visit-store > a {
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  color: #444444;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  transition: 150ms ease-in-out;
  margin-left: 12px;
}
.navbar-nav > li.visit-store > a svg {
  height: 18px;
  width: 18px;
  margin-right: 6px;
}
.navbar-nav > li.visit-store > a svg line,
.navbar-nav > li.visit-store > a svg path {
  fill: #444;
  transition: 150ms ease-in-out;
}
.navbar-nav > li.visit-store > a:hover svg line,
.navbar-nav > li.visit-store > a:hover svg path {
  fill: rgb(0, 106.3573333333, 230.1);
}
.navbar-nav > li.visit-store > a:hover {
  color: #0068e1;
  background: #ffffff;
  border-color: #0068e1;
}
.navbar-nav > li.visit-store > a:link {
  background: #ffffff;
}

/* top nav menu */
.nav > li > a:focus {
  background: transparent;
}
.nav > li > a:hover {
  background: #f9f9f9;
}

.language,
.user,
.dropdown-menu {
  transition: 0.2s ease-in-out;
}

.navbar {
  padding: 11px 0px 11px 0px;
}
.navbar .user .dropdown-toggle {
  position: relative;
  min-width: 36px;
  max-width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: unset !important;
  margin-top: -2px;
  margin-left: 17px;
}
.navbar .user .dropdown-toggle > span {
  outline: 1px solid rgb(217, 217, 217);
  outline-offset: 2px;
  transition: 150ms ease-in-out;
}
.navbar .user .dropdown-toggle > .dropdown-arrow-icon {
  border: 1px solid #fff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  background: #e4e6eb;
  border-radius: 50%;
  right: -3px;
  bottom: -3px;
}
.navbar .user .dropdown-toggle > .dropdown-arrow-icon > svg {
  width: 6px;
  height: 6px;
}
.navbar .user.open .dropdown-toggle > span {
  outline-color: #0068e1;
}

@media screen and (max-width: 991px) {
  .navbar .user .dropdown-toggle > span {
    outline: 1px solid rgba(217, 217, 217, 0.3);
  }
}
.user .dropdown-toggle span {
  min-width: 35px;
  max-width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #2584f0;
  font-size: 18px;
  text-transform: uppercase;
}

.top-nav-menu .dropdown-toggle {
  display: flex;
  align-items: center;
}
.top-nav-menu .dropdown-toggle > svg {
  width: 18px;
  height: 18px;
  margin-right: 7px;
}
.top-nav-menu.language {
  margin-left: 15px;
}
.top-nav-menu.language .dropdown-toggle > svg:last-child {
  margin-right: 0px;
  margin-left: 7px;
  transition: 0.2s ease-in-out;
  width: 10px;
  height: 10px;
}
.top-nav-menu.open > a {
  background: transparent !important;
}
.top-nav-menu.open .dropdown-menu {
  display: block;
}
.top-nav-menu.language:hover > a, .top-nav-menu.user:hover > a {
  background: transparent !important;
}
.top-nav-menu .dropdown-menu {
  padding: 12px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}
.top-nav-menu .dropdown-menu .profile-details {
  padding: 6px 18px 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f4;
  margin-bottom: 8px;
}
.top-nav-menu .dropdown-menu .profile-details .profile-first-letter {
  min-width: 45px;
  max-width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  background: #2584f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.top-nav-menu .dropdown-menu .profile-details .profile-info h4 {
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  line-height: 19px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top-nav-menu .dropdown-menu .profile-details .profile-info h4 span:first-child {
  max-width: 120px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.top-nav-menu .dropdown-menu .profile-details .profile-info h4 span:last-child {
  max-width: 70px;
  display: block;
  font-size: 10px;
  color: #00bc65;
  padding: 3px 5px;
  border-radius: 4px;
  margin-left: 6px;
  background: #d6f5e7;
  line-height: 11px;
  text-transform: capitalize;
  margin-top: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.top-nav-menu .dropdown-menu .profile-details .profile-info .profile-email {
  padding: 0 !important;
  text-decoration: none;
  color: #99a1b7;
  transition: 0.2s ease-in-out;
  font-size: 13px;
  font-weight: 500;
  background: transparent !important;
  display: block;
  max-width: 160px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.top-nav-menu .dropdown-menu .active a {
  color: #0068e1;
  background: transparent;
}
.top-nav-menu .dropdown-menu li {
  padding: 0 20px;
}
.top-nav-menu .dropdown-menu li:hover a {
  color: #0068e1;
}
.top-nav-menu .dropdown-menu li:hover a svg path {
  stroke: #0068e1;
}
.top-nav-menu .dropdown-menu li a {
  transition: 150ms ease-in-out;
  padding: 10px 0px !important;
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.top-nav-menu .dropdown-menu li a svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.top-nav-menu .dropdown-menu li a svg path {
  transition: 0.2s ease-in-out;
}
.top-nav-menu.language .dropdown-menu li:hover a {
  color: #0068e1;
  background: transparent !important;
}
.top-nav-menu.user .dropdown-menu li:hover a {
  color: #0068e1;
  background: transparent !important;
}
.top-nav-menu.user .dropdown-menu li:last-child:hover a {
  color: #ff5748;
  background: transparent !important;
}
.top-nav-menu.user .dropdown-menu li:last-child:hover a svg path {
  stroke: #ff5748 !important;
}
.top-nav-menu > a > i {
  font-size: 26px;
  color: #737881;
  margin-right: 8px;
}
.top-nav-menu > a > span {
  font-weight: 500;
  color: #444444;
}

.language.top-nav-menu > a {
  padding: 6px 12px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  transition: 0.2s ease-in-out;
}

.language.top-nav-menu > a:hover {
  border-color: #0068e1;
}

.user.top-nav-menu > a {
  display: flex;
  align-items: center;
  padding-right: 0;
}

/* table */
.index-table .table-responsive {
  margin-left: -15px;
  margin-right: -15px;
}

.table-responsive {
  margin-bottom: 20px;
}

.table {
  margin-bottom: 0;
}
.table > thead > tr > th {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid #e9e9e9;
  white-space: nowrap;
}
.table > thead > tr > th:first-child {
  max-width: 350px;
}
.table > thead > tr > th span {
  white-space: nowrap;
  display: block;
  max-width: 120px;
}
.table > tbody > tr {
  background: #ffffff;
}
.table > tbody > tr > td {
  border-top: 1px solid #f1f1f1;
}
.table > tbody > tr > td:first-child {
  max-width: 350px;
}
.table > tbody > tr td .badge {
  padding: 2px 8px;
  align-items: center;
  border-radius: 16px;
  background: #eff8ff;
  color: #175cd3;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: max-content;
}
.table > tbody > tr td .badge-info {
  background: #eef5fb;
  color: #247cc6;
}
.table > tbody > tr td .badge-warning {
  background: #fcf6ec;
  color: #ffa922;
}
.table > tbody > tr td .badge-danger {
  background: #fdf0ed;
  color: #ff5748;
}
.table > tbody > tr td .badge-success {
  background: #edf9f6;
  color: #1eb48e;
}

.table-bordered {
  border-color: #e9e9e9;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}
.table-bordered > tbody > tr > td {
  border-color: #e9e9e9;
}

.btn-generate-sitemap .form-group,
.btn-generate-sitemap {
  margin-left: unset !important;
  margin-right: unset !important;
}

.btn-generate-sitemap .form-group {
  margin-bottom: 0 !important;
}

.table-hover > tbody > tr {
  transition: 0.15s ease-in-out;
}
.table-hover > tbody > tr:hover {
  background: #f9f9f9;
}

.table .checkbox {
  display: flex;
  margin-top: 1px;
}

/* pagination */
.pagination {
  vertical-align: bottom;
}
.pagination > li > a {
  padding: 0px !important;
  height: 32px;
  width: 32px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 30px;
}
.pagination > li > a:focus {
  outline: 0;
}
.pagination > li.active > a {
  background: #0068e1;
  border-color: #0068e1;
}
.pagination > li.active > a:hover, .pagination > li.active > a:active, .pagination > li.active > a:focus {
  background: #0068e1;
  border-color: #0068e1;
}
.pagination > .previous > a,
.pagination > .next > a {
  color: #666666;
}
.pagination > .previous > a {
  border-radius: 3px 0 0 3px;
}
.pagination > .next > a {
  border-radius: 0 3px 3px 0;
}

/* form */
input[type=file].form-control {
  padding: 6px 12px;
}

.form-control {
  font-size: 14px;
  box-shadow: none;
  height: 36px;
  padding: 4px 12px;
  border-radius: 6px !important;
  border-color: #d9d9d9;
}
.form-control[disabled], .form-control[readonly] {
  background: #f6f6f7;
}
.form-control:focus {
  border-color: rgba(0, 104, 225, 0.8) !important;
  box-shadow: none;
  transition: 150ms ease-in-out;
}
.form-control:focus + .input-icon {
  color: #0068e1;
}

input:focus,
select:focus,
textarea:focus {
  border-color: rgba(0, 104, 225, 0.8);
  box-shadow: none;
  transition: border-color 150ms ease-in-out;
}

.form-wrap > .row {
  margin-bottom: 20px;
}
.form-wrap > .row:last-child {
  margin-bottom: 0;
}
.form-wrap .form-group {
  margin-bottom: 20px;
}

.form-group .input-icon {
  position: absolute;
  font-size: 18px;
  color: #737881;
  left: 5px;
  top: 30px;
  width: 30px;
  text-align: center;
  transition: 150ms ease-in-out;
}
.form-group label,
.form-group optgroup {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.form-group select[multiple] {
  height: 150px;
  border-color: #d9d9d9;
}
.form-group textarea {
  padding: 10px;
  border-radius: 6px;
  border-color: #d9d9d9;
  resize: vertical;
  transition: border-color 150ms ease-in-out;
}

input:not([type=checkbox]):not([type=radio]):not([type=select-multiple]):not([type=select-one]) {
  border-radius: 3px;
  border-color: #d9d9d9;
  outline: 0;
}

select {
  border: 1px solid #d9d9d9;
}
select:not(.form-group select[multiple]) {
  border-radius: 6px;
  border-color: #d9d9d9;
  height: 36px !important;
  outline: 0;
}
select option {
  font-family: "Inter", sans-serif;
}

.input-group {
  z-index: 1;
}
.input-group .form-control {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.form-horizontal.blog-create-form-spacing .form-group:last-child {
  margin-bottom: 0;
}
.form-horizontal .radio-inline {
  padding-top: 0;
}
.form-horizontal .control-label.text-left {
  text-align: left;
}
.form-horizontal .form-group {
  margin-bottom: 15px;
}
.form-horizontal .form-group .control-label {
  padding-top: 8px;
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .switch,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 8px;
}

.help-block {
  margin-bottom: -5px;
}

.has-error .form-control:focus,
.has-error input:focus,
.has-error select:focus,
.has-error textarea:focus {
  border-color: #ff3366;
}
.has-error .form-control + .input-icon {
  color: #ff3366;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: transparent;
}

.grid-header {
  overflow: auto;
  padding: 15px 24px;
}
.grid-header h5 {
  float: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.report-result .tab-content-title {
  padding: 15px 24px 15px;
}

.anchor-table.latest-reviews tbody tr td:first-child a {
  white-space: wrap;
  width: 300px;
  max-width: 350px;
}
.anchor-table .table > thead {
  background: #f9fafb;
  border-top: 1px solid #e2e8f0;
}
.anchor-table .table > thead tr th {
  padding: 12px 24px;
  color: #526174;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-transform: capitalize;
}
.anchor-table .pull-right {
  float: unset !important;
}
.anchor-table .pagination {
  margin-right: 20px;
  display: flex;
  width: max-content;
  margin-left: auto;
  padding-left: 24px;
}
.anchor-table .pagination li {
  border-radius: 8px !important;
  border: 1px solid #d0d5dd;
  margin-left: 12px;
  overflow: hidden;
  min-width: 150px;
  max-width: max-content;
  transition: 0.2s ease-in-out;
  background: #fff;
}
.anchor-table .pagination li.disabled {
  border-color: #d0d5dd !important;
  background: #ebebeb !important;
  border: unset !important;
}
.anchor-table .pagination li.disabled span {
  background: #ebebeb !important;
  color: #a5a5a5 !important;
}
.anchor-table .pagination li a,
.anchor-table .pagination li span {
  background: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  display: block;
  text-align: center;
  padding: 8px 14px !important;
  height: unset;
  border: unset;
  width: 100%;
  transition: 0.2s ease-in-out;
  color: #344054;
}
.anchor-table .pagination li:hover {
  background: #fff;
  border-color: #0068e1;
}
.anchor-table .pagination li:hover a {
  background: #fff;
  color: #0068e1;
}
.anchor-table .table > tbody > tr > td {
  padding: 0;
  border-top: 1px solid #e2e8f0;
  padding: 16px 24px;
  text-decoration: none;
  color: #444444;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
}
.anchor-table .table > tbody > tr > td a {
  display: block;
  text-decoration: none;
  color: #444444;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.anchor-table .table > tbody > tr > td.empty {
  text-align: center;
  padding: 10px 0;
}
.anchor-table .table > tbody > tr:hover a {
  color: #0068e1;
}

@media screen and (max-width: 991px) {
  .main-header .sidebar-toggle {
    padding: unset !important;
    border: unset;
    margin-left: 13px;
  }
  .main-header .sidebar-toggle svg:first-child {
    display: none;
  }
  .main-header .sidebar-toggle svg:last-child {
    display: block;
    width: 24px;
    height: 23px;
  }
  .main-header .sidebar-toggle svg:last-child path {
    fill: #fff;
  }
  .dropdown-toggle > svg path {
    stroke: #b8c7ce;
  }
  .navbar-nav .fullscreen-mode {
    padding: unset;
  }
  .navbar-nav .fullscreen-mode a {
    border: unset;
    padding: unset;
  }
  .navbar-nav .fullscreen-mode a svg {
    width: 28px;
    height: 28px;
    margin-bottom: 2px;
  }
  .navbar-nav .fullscreen-mode a svg path {
    fill: #b8c7ce;
  }
  .navbar-nav > li > a {
    padding: 11px 12px;
  }
  .main-header .logo {
    padding-left: 57px;
  }
  .navbar-nav > .user > a {
    padding-right: 0;
  }
  .main-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
  .main-header .sidebar-toggle {
    right: unset;
    padding: 5px 15px;
  }
  .content {
    padding: 15px;
  }
  .content-header {
    margin-top: 56px;
    padding: 20px 15px 0;
  }
  .content-header > h3 {
    display: block;
  }
  .content-header > .breadcrumb {
    margin-top: 8px;
    padding: 7px 0;
    float: none !important;
  }
  .navbar-collapse.pull-left {
    float: none !important;
  }
  .sidebar {
    margin-top: 56px;
    padding-bottom: 0;
  }
  .main-sidebar {
    margin-left: -250px;
  }
  .ltr.sidebar-mini.sidebar-collapse .main-header {
    width: 100%;
  }
  .ltr.sidebar-open .main-sidebar {
    margin-left: 0;
  }
  .ltr.sidebar-open .left-side {
    left: 0;
  }
  .ltr.sidebar-open .main-footer {
    left: 250px;
    right: -250px;
  }
  .ltr.sidebar-open .wrapper {
    margin-right: -250px;
  }
  .ltr.sidebar-mini .wrapper {
    margin-left: 0;
  }
  .rtl.sidebar-mini.sidebar-collapse .main-header {
    width: 100%;
  }
  .rtl.sidebar-open .main-sidebar {
    margin-right: 0;
  }
  .rtl.sidebar-open .left-side {
    right: 0;
  }
  .rtl.sidebar-open .main-footer {
    right: 250px;
    left: -250px;
  }
  .rtl.sidebar-open .wrapper {
    margin-left: -250px;
  }
  .rtl.sidebar-mini .wrapper {
    margin-right: 0;
  }
  .left-side {
    left: -250px;
  }
  .navbar {
    position: fixed;
    top: 0.5px;
    right: 15px;
    background: transparent;
    box-shadow: none;
    z-index: 1080;
  }
  .navbar .navbar-nav {
    margin: 0;
    padding: 0;
  }
  .navbar-nav .open .dropdown-menu {
    background: inherit;
    position: absolute;
  }
  .navbar-nav .dropdown .dropdown-menu {
    position: absolute;
    background: #fff;
    top: 45px;
  }
  .top-nav-menu > a {
    background: transparent !important;
  }
  .top-nav-menu > a:hover {
    background: transparent !important;
  }
  .top-nav-menu > a > i,
  .top-nav-menu > a > span {
    color: #b8c7ce;
  }
  .main-footer {
    left: 0;
  }
  .table-responsive {
    border: none;
    margin-bottom: 20px;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table-bordered {
    border: 1px solid #e9e9e9;
  }
  .form-horizontal .form-group {
    margin-bottom: 15px;
  }
  .form-horizontal .form-group .control-label {
    margin-bottom: 6px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .form-horizontal .checkbox,
  .form-horizontal .switch {
    padding-top: 0;
  }
  .top-nav-menu.language {
    margin-left: 10px;
  }
  .top-nav-menu.language .dropdown-toggle {
    padding: 4px 6px;
    border: unset;
  }
  .top-nav-menu.language .dropdown-toggle > span,
  .top-nav-menu.language .dropdown-toggle > svg:last-child {
    display: none;
  }
  .top-nav-menu.language .dropdown-toggle > svg:first-child {
    margin-right: 0;
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 992px) {
  .ltr.sidebar-mini.sidebar-collapse .main-header .logo {
    display: none;
  }
  .rtl.sidebar-mini.sidebar-collapse .main-header .logo {
    display: none;
  }
}
@media (min-width: 768px) {
  .ltr.sidebar-mini.sidebar-collapse .main-sidebar {
    width: 55px;
  }
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu li.header {
    display: none !important;
    transform: translateZ(0);
  }
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li {
    position: relative;
  }
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
    margin-right: 0;
  }
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
    padding: 14px 15px 14px !important;
    -webkit-padding-before: 15px !important;
    border-top-right-radius: 4px;
  }
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
    border-bottom-right-radius: 4px;
  }
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 4px;
  }
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span,
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu,
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right {
    display: none !important;
    transform: translateZ(0);
    z-index: 1;
  }
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    left: 50px;
  }
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
    top: 0;
    padding: 12px 5px 12px 20px;
    background-color: inherit;
  }
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right-container) {
    text-align: left;
    padding-left: 38px !important;
  }
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
    position: relative !important;
    float: right;
    width: auto !important;
    left: 186px !important;
    top: -12px !important;
    padding: 5px !important;
    z-index: 900;
  }
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container > .label:not(:first-of-type) {
    display: none;
  }
  .ltr.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    top: 44px;
    margin-left: 0;
  }
  .ltr.sidebar-mini.sidebar-collapse .main-header .logo {
    width: 50px;
  }
  .ltr.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
  }
  .ltr.sidebar-mini.sidebar-collapse .main-header .logo > .logo-lg {
    display: none;
  }
  .ltr.sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 50px;
  }
  .rtl.sidebar-mini.sidebar-collapse .main-sidebar {
    width: 55px;
  }
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu li.header {
    display: none !important;
    transform: translateZ(0);
  }
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li {
    position: relative;
  }
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
    margin-left: 0;
  }
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
    padding: 14px 15px 14px !important;
    -webkit-padding-before: 15px !important;
    border-top-left-radius: 4px;
  }
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
    border-bottom-left-radius: 4px;
  }
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 4px;
  }
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span,
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu,
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right {
    display: none !important;
    transform: translateZ(0);
    z-index: 1;
  }
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    right: 50px;
  }
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
    top: 0;
    padding: 12px 20px 12px 5px;
    background-color: inherit;
  }
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right-container) {
    text-align: right;
    padding-right: 38px !important;
  }
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
    position: relative !important;
    float: left;
    width: auto !important;
    right: 190px !important;
    top: -12px !important;
    padding: 5px !important;
    z-index: 900;
  }
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container > .label:not(:first-of-type) {
    display: none;
  }
  .rtl.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    top: 44px;
    margin-right: 0;
  }
  .rtl.sidebar-mini.sidebar-collapse .main-header .logo {
    width: 50px;
  }
  .rtl.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
  }
  .rtl.sidebar-mini.sidebar-collapse .main-header .logo > .logo-lg {
    display: none;
  }
  .rtl.sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-right: 50px;
  }
  .form-horizontal .control-label {
    padding-bottom: 6px;
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .form-horizontal .checkbox,
  .form-horizontal .switch {
    padding-top: 0;
  }
}
@media screen and (max-width: 400px) {
  .main-header .logo .logo-lg {
    max-width: 120px !important;
  }
  .sidebar-logo-mini {
    display: block;
    left: 70px;
  }
  .main-header .logo {
    display: none;
  }
}
/*====== Form column style ==========*/
.form .form-left-column .form-group:last-child,
.form .form-right-column .form-group:last-child {
  margin-bottom: 0;
}
.form .form-left-column {
  padding-right: 10px;
}
.form .form-right-column {
  padding-left: 10px;
}

/*====== Page form footer ==========*/
.page-form-footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background: #ffffff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.18);
  transition: 150ms ease-in-out;
  z-index: 10;
}
.page-form-footer .btn {
  margin-right: 10px;
  padding: 6px 14px;
}
.page-form-footer .btn:last-child {
  margin-right: 0;
}
.page-form-footer .btn-default {
  border: 1px solid #d9d9d9;
  background: #ffffff !important;
}
.page-form-footer .btn-default:hover {
  color: #0068e1;
  border-color: #0074fb;
}
.page-form-footer .btn-secondary {
  color: #0068e1;
  background: #ffffff;
  border: 1px solid #0068e1;
}
.page-form-footer .btn-secondary.btn-loading:after {
  border-color: #0068e1;
  border-right-color: transparent;
}
.page-form-footer .btn-secondary.btn-loading:hover:after {
  border-color: #ffffff;
  border-right-color: #0068e1;
}
.page-form-footer .btn-secondary:hover {
  color: #ffffff;
  background: #0068e1;
}

.ltr.sidebar-collapse .page-form-footer {
  left: 50px;
}
.ltr .page-form-footer {
  left: 250px;
  right: 0;
}
.ltr .page-form-footer .btn-default {
  margin-right: 10px;
}

.rtl.sidebar-collapse .page-form-footer {
  right: 50px;
}
.rtl .page-form-footer {
  right: 250px;
  left: 0;
}
.rtl .page-form-footer .btn-default {
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .form .form-left-column {
    padding-right: 15px;
  }
  .form .form-right-column {
    padding-left: 15px;
  }
}
@media screen and (max-width: 991px) {
  .page-form-footer {
    position: relative;
    bottom: auto;
    margin-top: 20px;
    padding: 0;
    background: transparent;
    box-shadow: none;
    z-index: 0;
  }
  .ltr .page-form-footer,
  .rtl .page-form-footer {
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 370px) {
  .page-form-footer {
    flex-direction: column;
  }
  .page-form-footer .btn {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .page-form-footer .btn:last-child {
    margin-bottom: 0;
  }
}
/*====== Scrollbar style ==========*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ebebeb;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #bab9b9;
  transition: 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #0068e1;
}

a:hover, a:focus, a:focus-visible {
  text-decoration: none;
}
