.modal {
  z-index: 100000;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  transition: 0.2s ease-in-out;
}
.modal.fade .modal-dialog {
  opacity: 0;
  transform: scale(0.9);
  transition: 100ms ease-in-out;
}
.modal.fade.in .modal-dialog {
  transform: scale(1);
  opacity: 1;
}
.modal.fade.show {
  opacity: 1;
}
.modal.fade.show .modal-dialog {
  transform: scale(1);
  opacity: 1;
}
.modal .modal-header {
  padding: 15px;
  border-bottom-color: #e9e9e9;
}
.modal .modal-header > .close {
  font-size: 18px;
  outline: 0;
  margin-top: -1px;
  -webkit-text-stroke: 1px #ffffff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgb(225.7, 225.7, 225.7);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  transition: 150ms ease-in-out;
}
.modal .modal-header > .close svg {
  width: 14px;
  height: 14px;
}
.modal .modal-header > .close svg path {
  stroke: #444;
  transition: 150ms ease-in-out;
}
.modal .modal-header > .close:hover {
  background: rgb(254.5081967213, 225.4918032787, 225.4918032787);
  opacity: 1;
}
.modal .modal-header > .close:hover svg path {
  stroke: #fc4b4b;
}
.modal .modal-content {
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
}
.modal .modal-footer {
  border-radius: 0 0 8px 8px;
  border-top-color: #e9e9e9;
}
.modal .modal-footer .btn + .btn {
  margin-left: 12px;
}

#confirmation-modal {
  padding-right: 0 !important;
}
#confirmation-modal .modal-header {
  padding: 15px 15px 15px 25px;
}
#confirmation-modal .modal-body {
  padding: 0px 15px 25px 25px;
}
#confirmation-modal .modal-header,
#confirmation-modal .modal-footer {
  border: none;
}
#confirmation-modal .default-message {
  color: #737881;
}
#confirmation-modal .modal-footer {
  background: #f1f3f7;
}
#confirmation-modal .btn-default {
  background: #e1e1e1;
}
#confirmation-modal .btn-default:hover {
  background: #e9e9e9;
}
